{{ define "main"}}

<div class="homeContainer" >
    <div class="wwBannerCard">
        <div class="wwbannerContent">
            <h1><span class="highlight2">REAL MADRID </span>FOUNDATION</h1>
            <p>The Real Madrid Foundation is the instrument <br>through which the Real Madrid becomes present in society <br>and develops its humanitarian and social projects.></p>
            <br><br><br>
            <button class="bannerBtn">SUPPORT US</button>
        </div>
    </div>
    <div class="eventInfoSec">
        <div class="eventInfoContent">
            <div class="eventInfoHeader">
                <h1><span class="highlight2">REAL MADRID</span> FOUNDATION<br>SOCCER CAMPS<br><span class="highlight2">IN THAILAND</span></h1>
                <p>for a better training and education in football</p>
            </div>
            <div class="eventInfo">
                <p>
                    The Real Madrid Foundation Soccer Camps offer a fantastic opportunity to improve your soccer skills with top-tier training. Guided by UEFA-certified coaches selected from the Academy of the world’s most successful soccer team, this camp provides a unique and thrilling experience for players eager to take their game to the next level.
                </p>
                <a href="{{ "#footer_contact" | relURL }}">
                    <button class="bannerBtn">REGISTER</button>
                </a>
            </div>
        </div>
    </div>
    
    <div class="downloadBru">
        <div class="downloadBruContent">
            <h1>Download our informative brochure</h1>
            <p>Find everything you need to know about our RMF Clinics instantly!</p>
            <a href="{{ "assets/pdf/CLINIC_UNIFORMS_MANUAL.pdf" | relURL }}" download="CLINIC_UNIFORMS_MANUAL.pdf">
                <button class="bannerBtn">DOWNLOAD</button>
            </a>
        </div>
    </div>
    <img src="{{ "assets/images/KIDS_7.JPG" | relURL }}" alt="banner">
</div>
{{ end }}
