{{ define "main"}}

<div class="homeContainer" >
    <div class="bannerCard">
        <div class="bannerContent">
            <h1>REAL MADRID <span class="highlight">FOUNDATION</span></h1>
            <p>JOIN OUR <span class="highlight">SUMMER CAMPS!</span></p>
            <a href="{{ "#footer_contact" | relURL }}">
                <button class="bannerBtn">REGISTER NOW</button>
            </a>
        </div>
    </div>
    <div class="eventInfoSec">
        <div class="eventInfoContent">
            <div class="eventInfoHeader">
                <h1><span class="highlight2">REAL MADRID</span> FOUNDATION<br>SOCCER CAMPS<br><span class="highlight2">IN THAILAND</span></h1>
                <p>for a better training and education in football</p>
            </div>
            <div class="eventInfo">
                <p>
                    The Real Madrid Foundation Soccer Camps provide an exceptional chance to enhance your soccer skills through professional training. Led by UEFA-certified coaches handpicked by the Academy of the world’s most successful soccer club, this camp offers a unique and exciting experience for players looking to elevate their game
                </p>
                <a href="{{ "#footer_contact" | relURL }}">
                    <button class="bannerBtn">REGISTER</button>
                </a>
            </div>
        </div>
    </div>
    <div class="downloadBru">
        <div class="downloadBruContent">
            <h1>Download our informative brochure</h1>
            <p>Find everything you need to know about our RMF Clinics instantly!</p>
            <a href="{{ "assets/pdf/CLINIC_UNIFORMS_MANUAL.pdf" | relURL }}" download="CLINIC_UNIFORMS_MANUAL.pdf">
                <button class="bannerBtn">DOWNLOAD</button>
            </a>
            
        </div>
    </div>
    <div class="newsSec">
        <div class="newsContent">
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/COACH_1.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>REAL MADRID SPIRIT</h2><br>
                    <p>Experience the essence of Real Madrid by training at the official Real Madrid Foundation soccer camp. Players will have the opportunity to train with professional methods, embrace core sports values, and the standout participants may be invited to a unique sporting event in Spain. It's a once-in-a-lifetime chance to spend a week in Madrid.</p>
                </div>
            </div>
            <div class="newsBlock2">
                <div class="newsBlockTxt" style="align-items: flex-start; text-align: left;">
                    <h2>REAL MADRID SPIRIT</h2>
                    <p>Experience the essence of Real Madrid by training at the official Real Madrid Foundation soccer camp. Players will have the opportunity to train with professional methods, embrace core sports values, and the standout participants may be invited to a unique sporting event in Spain. It's a once-in-a-lifetime chance to spend a week in Madrid.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock2">
                <div class="newsBlockTxt" >
                    <h2>COACHES FROM THE REAL MADRID ACADEMY</h2>
                    <p>All of our clinics are conducted by coaches of the Real Madrid Foundation, they guarantee the same quality and professionalism that Real Madrid academy players receive in the Real Madrid official soccer academy in Madrid.</p>
                </div>
            </div>
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/KIDS31.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>COACHES FROM THE REAL MADRID ACADEMY</h2><br>
                    <p>All of our clinics are conducted by coaches of the Real Madrid Foundation, they guarantee the same quality and professionalism that Real Madrid academy players receive in the Real Madrid official soccer academy in Madrid.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/COACH1.JPG" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>TRAIN USING THE REAL MADRID METHOD</h2><br>
                    <p>Train under “The Real Way” methodology, our own training methodology based on a complete analysis of the development that combines an individual tracking and teaches values such as leadership, teamwork, respect and effort.</p>
                </div>
            </div>
            <div class="newsBlock2">
                <div class="newsBlockTxt" style="align-items: flex-start; text-align: left;">
                    <h2>TRAIN USING THE REAL MADRID METHOD</h2>
                    <p>Train under “The Real Way” methodology, our own training methodology based on a complete analysis of the development that combines an individual tracking and teaches values such as leadership, teamwork, respect and effort.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock2">
                <div class="newsBlockTxt" >
                    <h2>EXCLUSIVE REAL MADRID LIFETIME EXPERIENCE</h2>
                    <p>Players who exemplify the core values of the Real Madrid Foundation will have the chance to embark on a memorable journey to the Madrid Experience.</p>
                </div>
            </div>
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/KIDS48.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>EXCLUSIVE REAL MADRID LIFETIME EXPERIENCE</h2><br>
                    <p>Players who exemplify the core values of the Real Madrid Foundation will have the chance to embark on a memorable journey to the Madrid Experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
