{{ define "main"}}

<div class="homeContainer" >
    <div class="bannerCard">
        <div class="bannerContent">
            <h1>REAL MADRID <span class="highlight">FOUNDATION</span></h1>
            <p>JOIN OUR <span class="highlight">SUMMER CAMPS!</span></p>
            <a href="{{ "#footer_contact" | relURL }}">
                <button class="bannerBtn">REGISTER NOW</button>
            </a>
        </div>
    </div>
    <div class="eventInfoSec">
        <div class="eventInfoContent">
            <div class="eventInfoHeader">
                <h1><span class="highlight2">REAL MADRID</span> FOUNDATION<br>SOCCER CAMPS<br><span class="highlight2">IN USA</span></h1>
                <p>for a better training and education in football</p>
            </div>
            <div class="eventInfo">
                <p>
                    The Real Madrid Foundation Soccer Camps offers the unique and exciting opportunity to experience specialized soccer training, bringing their expert UEFA coaches selected by the Academy of the world’s most successful soccer team to help you improve your soccer skills.
                </p>
                <a href="{{ "#footer_contact" | relURL }}">
                    <button class="bannerBtn">REGISTER</button>
                </a>
            </div>
        </div>
    </div>
    <div class="downloadBru">
        <div class="downloadBruContent">
            <h1>Download our informative brochure 23/24</h1>
            <p>Get all the information you need about our RMF Clinics, right away!</p>
            <a href="{{ "assets/pdf/CLINIC_UNIFORMS_MANUAL.pdf" | relURL }}" download="CLINIC_UNIFORMS_MANUAL.pdf">
                <button class="bannerBtn">DOWNLOAD</button>
            </a>
            
        </div>
    </div>
    <div class="newsSec">
        <div class="newsContent">
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/COACH_1.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>REAL MADRID SPIRIT</h2><br>
                    <p>Training at the official Real Madrid Foundation soccer camp will allow players to train like a pro soccer player, learn the bests sport values and the best players will have the chance to attend an exclusive sporting event in Spain. A one in a lifetime experience in Madrid for a week.</p>
                </div>
            </div>
            <div class="newsBlock2">
                <div class="newsBlockTxt" style="align-items: flex-start; text-align: left;">
                    <h2>REAL MADRID SPIRIT</h2>
                    <p>Training at the official Real Madrid Foundation soccer camp will allow players to train like a pro soccer player, learn the bests sport values and the best players will have the chance to attend an exclusive sporting event in Spain. A one in a lifetime experience in Madrid for a week.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock2">
                <div class="newsBlockTxt" >
                    <h2>COACHES SELECTED AND TRAINED IN THE REAL MADRID ACADEMY</h2>
                    <p>All of our clinics are conducted by coaches of the Real Madrid Foundation, they guarantee the same quality and professionalism that Real Madrid academy players receive in the Real Madrid official soccer academy in Madrid.</p>
                </div>
            </div>
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/KIDS31.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>COACHES SELECTED AND TRAINED IN THE REAL MADRID ACADEMY</h2><br>
                    <p>All of our clinics are conducted by coaches of the Real Madrid Foundation, they guarantee the same quality and professionalism that Real Madrid academy players receive in the Real Madrid official soccer academy in Madrid.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/COACH1.JPG" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>TRAIN UNDER THE REAL MADRID METHODOLOGY</h2><br>
                    <p>Train under “The Real Way” methodology, our own training methodology based on a complete analysis of the development that combines an individual tracking and teaches values such as leadership, teamwork, respect and effort.</p>
                </div>
            </div>
            <div class="newsBlock2">
                <div class="newsBlockTxt" style="align-items: flex-start; text-align: left;">
                    <h2>TRAIN UNDER THE REAL MADRID METHODOLOGY</h2>
                    <p>Train under “The Real Way” methodology, our own training methodology based on a complete analysis of the development that combines an individual tracking and teaches values such as leadership, teamwork, respect and effort.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock2">
                <div class="newsBlockTxt" >
                    <h2>REAL MADRID LIFETIME TRIP OPPORTUNITY</h2>
                    <p>Players that best represent the Real Madrid Foundation values will be able to enjoy a trip to the Madrid Experience</p>
                </div>
            </div>
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/KIDS48.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>REAL MADRID LIFETIME TRIP OPPORTUNITY</h2><br>
                    <p>Players that best represent the Real Madrid Foundation values will be able to enjoy a trip to the Madrid Experience</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}