{{ define "main"}}
<div class="homeContainer" >
    <div class="clinicsBannerCard">
        <div class="bannerContent">
            <h1>Real Madrid Foundation <span class="highlight2">Worldwide</span></h1>
            <!-- <p>recognized <span class="highlight2">methodology</span></p> -->
            <a href="{{ "#footer_contact" | relURL }}">
                <button class="bannerBtn">LEARN</button>
            </a>
        </div>
    </div>
    <div class="newsSec">
        <div class="newsContent">
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/KIDS_58.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>Real Madrid Foundation Worldwide recognized methodology</h2><br>
                    <p>Train under the Real Madrid Foundation Methodology and improve technically and tactically under the same winning mentality that helped the first team win the last consecutive 3 Champions League</p>
                </div>
            </div>
            <div class="newsBlock2">
                <div class="newsBlockTxt" style="align-items: flex-start; text-align: left;">
                    <h2>Real Madrid Foundation Worldwide recognized methodology</h2>
                    <p>Train under the Real Madrid Foundation Methodology and improve technically and tactically under the same winning mentality that helped the first team win the last consecutive 3 Champions League</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock2">
                <div class="newsBlockTxt" >
                    <h2>Real Madrid Foundation Coaches</h2>
                    <p>All of our clinics are conducted by coaches of the Real Madrid Foundation, who trains under the unique methodology of the RMF based in sports practice through values.</p>
                </div>
            </div>
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/RealMadrid053.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>Real Madrid Foundation Coaches</h2><br>
                    <p>All of our clinics are conducted by coaches of the Real Madrid Foundation, who trains under the unique methodology of the RMF based in sports practice through values.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/KIDS_59.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>Reduced Groups</h2><br>
                    <p>To ensure the best training quality each field will be supervised by 1 Real Madrid Foundation Technical Director. Every 12 players will also be coaches and supervised by a RMF coach.</p>
                </div>
            </div>
            <div class="newsBlock2">
                <div class="newsBlockTxt" style="align-items: flex-start; text-align: left;">
                    <h2>Reduced Groups</h2>
                    <p>To ensure the best training quality each field will be supervised by 1 Real Madrid Foundation Technical Director. Every 12 players will also be coaches and supervised by a RMF coach.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock2">
                <div class="newsBlockTxt" >
                    <h2>State of the art Facilities</h2>
                    <p>Train in high quality full pitches with all the equipment and materials needed to make the most of the training.</p>
                </div>
            </div>
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/RealMadrid054.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>State of the art Facilities</h2><br>
                    <p>Train in high quality full pitches with all the equipment and materials needed to make the most of the training.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}