{{ define "main"}}
<div class="homeContainer" >
    <div class="clinicsBannerCard">
        <div class="bannerContent">
            <h1>Real Madrid Foundation <span class="highlight2">Worldwide</span></h1>
            <!-- <p>recognized <span class="highlight2">methodology</span></p> -->
            <a href="{{ "#footer_contact" | relURL }}">
                <button class="bannerBtn">LEARN</button>
            </a>
        </div>
    </div>
    <div class="newsSec">
        <div class="newsContent">
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/KIDS_58.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>The globally acknowledged approach of the Real Madrid Foundation.</h2><br>
                    <p>Experience top-level training under the renowned Real Madrid Foundation Methodology, designed to enhance both technical and tactical skills. Develop the winning mindset that has driven the first team to secure three consecutive Champions League titles.</p>
                </div>
            </div>
            <div class="newsBlock2">
                <div class="newsBlockTxt" style="align-items: flex-start; text-align: left;">
                    <h2>The globally acknowledged approach of the Real Madrid Foundation</h2>
                    <p>Experience top-level training under the renowned Real Madrid Foundation Methodology, designed to enhance both technical and tactical skills. Develop the winning mindset that has driven the first team to secure three consecutive Champions League titles.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock2">
                <div class="newsBlockTxt" >
                    <h2>Real Madrid Foundation Coaches</h2>
                    <p>Our clinics are led by professional coaches from the Real Madrid Foundation. They are trained in the distinctive RMF methodology, which emphasizes sports practice grounded in strong values.</p>
                </div>
            </div>
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/RealMadrid053.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>Real Madrid Foundation Coaches</h2><br>
                    <p>Our clinics are led by professional coaches from the Real Madrid Foundation. They are trained in the distinctive RMF methodology, which emphasizes sports practice grounded in strong values.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/KIDS_59.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>Smaller Groups for Optimal Training</h2><br>
                    <p>Each training area will be overseen by a Real Madrid Foundation Technical Director, ensuring top-quality instruction. Additionally, one RMF coach will guide and supervise every group of 12 players to maintain focused coaching.</p>
                </div>
            </div>
            <div class="newsBlock2">
                <div class="newsBlockTxt" style="align-items: flex-start; text-align: left;">
                    <h2>Smaller Groups for Optimal Training</h2>
                    <p>Each training area will be overseen by a Real Madrid Foundation Technical Director, ensuring top-quality instruction. Additionally, one RMF coach will guide and supervise every group of 12 players to maintain focused coaching.</p>
                </div>
            </div>
        </div>
        <div class="newsContent">
            <div class="newsBlock2">
                <div class="newsBlockTxt" >
                    <h2>Top-Class Facilities</h2>
                    <p>Practice on premium, full-size pitches equipped with everything necessary to enhance your training experience.</p>
                </div>
            </div>
            <div class="newsBlock">
                <img class="newsImg" src="{{ "assets/images/RealMadrid054.jpg" | relURL }}" alt="footer_banner">
                <div class="newsTxt">
                    <h2>Top-Class Facilities</h2><br>
                    <p>Practice on premium, full-size pitches equipped with everything necessary to enhance your training experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
